<h2>Your logs</h2>

Choose the log to display: <%= collection_select(:log, :log_id, @logs, :id, :name, {prompt: true}) %>

<table id="log" data-source="<%= log_url(format: "json", id: 1) %>">
  <thead>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Time</th>
    <th>Protocol</th>
    <th>Connection Type</th>
    <th>Source Port</th>
    <th>Destination Port</th>
    <th>Source IP Address</th>
    <th>Destination IP Address</th>
    <th>Other information</th>
    <th>Environment</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

